body {
    font-family: 'Roboto Mono', monospace;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.img{
    display: flex;
    width: 40%;
    height: 90%;
    margin: 1% 1% 1% 1%;
    background: url(./blake-verdoorn-cssvEZacHvQ-unsplash.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    border-radius: 5px;
}

.img-description {
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 100%;
    color: white;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
    background-color: rgba(0, 0, 0, 0.472);
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.form-label {
    font-weight: 900;
    font-size: 20px;
}